@{
    ViewBag.Title = "Quick Game";
    ViewBag.ActiveMenuItem = "quickgame";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

<div class="container padded">
    <div class="col-sm-1">
        <ul class="action-nav-normal rounded" style="margin-left: 14px;">
            <li class="action-nav-button">
                <a href="#">
                    <i class="icon-file-alt"></i>
                </a>
            </li>
        </ul>
        <div class="action-nav-normal action-nav-line">
            <div class="action-nav-row">
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Deck</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Graveyard</span>
                    </a>
                </div>
            </div>
        </div>
        <ul class="action-nav-normal rounded" style="margin-left: 14px;">
            <li class="action-nav-button">
                <a href="#">
                    <i class="icon-file-alt"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-5"></div>
    <div class="col-sm-1">
        <ul class="action-nav-normal rounded" style="margin-left: 14px;">
            <li class="action-nav-button">
                <a href="#">
                    <i class="icon-file-alt"></i>
                </a>
            </li>
        </ul>
        <div class="action-nav-normal action-nav-line">
            <div class="action-nav-row">
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Deck</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Card Name</span>
                    </a>
                </div>
                <div class="col-sm-12 action-nav-button">
                    <a href="#">
                        <i class="icon-file-alt"></i>
                        <span>Graveyard</span>
                    </a>
                </div>
            </div>
        </div>
        <ul class="action-nav-normal rounded" style="margin-left: 14px;">
            <li class="action-nav-button">
                <a href="#">
                    <i class="icon-file-alt"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
