@{
    ViewBag.Title = "Quick Game";
    ViewBag.ActiveMenuItem = "quickgame";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

<div class="container padded">
    <div class="row">
        <div class="col-md-1">
            <div class="box">
                <div class="box-content" style="height: 120px;"></div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="box">
                <div class="box-content" style="height: 120px;"></div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="box">
                <div class="box-content" style="height: 120px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-content" style="height: 290px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-content" style="height: 290px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="box">
                <div class="box-content" style="height: 120px"></div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="box">
                <div class="box-content" style="height: 120px;"></div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="box">
                <div class="box-content" style="height: 120px;"></div>
            </div>
        </div>
    </div>
</div>
