@{
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
    ViewBag.Title = "Log in";
}

<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="padded">
            <div class="login box" style="margin-top: 20px;">
                <div class="box-header">
                    <span class="title">Log In</span>
                </div>
                <div class="box-content padded">
                    <form name="loginForm" method="post" action="@Url.Action("Login", "Account")" class="separate-sections">
                        @Html.AntiForgeryToken()
                        <div class="input-group addon-left">
                            <span class="input-group-addon">
                                <i class="icon-user"></i>
                            </span>
                            <input type="text" id="UserName" name="UserName" placeholder="Username" required />
                        </div>
                        <div class="input-group addon-left">
                            <span class="input-group-addon">
                                <i class="icon-key"></i>
                            </span>
                            <input type="password" id="Password" name="Password" placeholder="Password" required />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-blue btn-block">
                                Log In <i class="icon-signin"></i>
                            </button>
                        </div>
                    </form>
                    <div>
                        <a href="@Url.Action("Register", "Account")">
                            Don't have an account? <strong>Register</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="btn btn-facebook btn-block">
                        <i class="icon-facebook-sign"></i> Facebook
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-twitter btn-block">
                        <i class="icon-twitter"></i> Twitter
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>